<h1>Welcome to TicTacToe!</h1>
<h2>It is is player <%= @current_player %>'s turn!</h2>
<p>
  Enter your selection using the form below
</p>


<pre>
  <table>
    <% @board_arr do |row| %>
      <tr>
        <% row.each do |cell| %>
          <td>
          <%= cell.nil? '-' : cell %>
        </td>
        <% end %>
      </tr>
    <% end %>
  </table>
</pre>


<%= form_tag(make_move_path, :method => "POST") do %>
  <table>
    <% 3.times do |row| %>
      <tr>
        <% 3.times do |cell| %>
          <td>
            <%= radio_button_tag("move","#") %>
          </td>
        <% end %>
      </tr>
    <% end %>
  </table>
  <%= submit_tag "Make Move" %>
<% end %>
